.Container{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    gap: 100px;
}

.gp{
    width: 600px;
    height: 600px;
    border: 3px solid blue;
    font-size: 70px;
    background-color: blue;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}

.p{
    width: 300px;
    height: 300px;
    border: 3px solid red;
    margin-top: 100px;
    margin-left: 120px;
    font-size: 40px;
    color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.c{
    width: 100px;
    height: 100px;
    border: 3px solid yellow;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 20px;
    background-color: yellow;
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}

.h{
    width: 400px;
    min-height: 400px;
    height: auto;
    border: 3px solid grey;
}

.log{
    width: 400px;
    min-height: 300px;
    height: auto;
    border: 3px solid black;
    white-space: pre-line;
}

.info{
    border: 3px solid grey;
}

.btn{
    margin-left: 250px;
    height: 40px;
    width: 100px;
    margin-top: 0px;
    background-color: green;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}